In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(15.0, 15.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Cloud percent 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.count()

City_ID       224
City          224
Cloudiness    224
Country       224
Date          224
Humidity      224
Lat           224
Lng           224
Max Temp      224
Wind Speed    224
dtype: int64

In [12]:
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Llanes,4,ES,2022-07-24 14:00:12,74,43.4198,-4.7549,76.84,7.25
5,5,Hilo,100,US,2022-07-24 14:00:16,90,19.7297,-155.0900,78.28,4.61
8,8,Albany,38,US,2022-07-24 14:00:18,56,42.6001,-73.9662,85.95,1.99
12,12,Saint George,44,US,2022-07-24 13:56:37,42,37.1041,-113.5841,85.24,5.01
14,14,Ribeira Grande,40,PT,2022-07-24 14:00:20,83,38.5167,-28.7000,79.20,12.66
17,17,Akyab,100,MM,2022-07-24 14:00:22,78,20.1500,92.9000,81.64,4.41
18,18,Faanui,11,PF,2022-07-24 14:00:22,77,-16.4833,-151.7500,78.60,12.06
22,22,Demirci,0,TR,2022-07-24 14:00:24,15,39.0461,28.6589,88.43,16.04
24,24,Travesia,100,HN,2022-07-24 14:00:25,88,15.8667,-87.9000,79.14,4.79
25,25,Hasaki,98,JP,2022-07-24 14:00:25,88,35.7333,140.8333,77.40,14.74

In [13]:
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Llanes      ES     76.84  43.4198   -4.7549
5             Hilo      US     78.28  19.7297 -155.0900
8           Albany      US     85.95  42.6001  -73.9662
12    Saint George      US     85.24  37.1041 -113.5841
14  Ribeira Grande      PT     79.20  38.5167  -28.7000
17           Akyab      MM     81.64  20.1500   92.9000
18          Faanui      PF     78.60 -16.4833 -151.7500
22         Demirci      TR     88.43  39.0461   28.6589
24        Travesia      HN     79.14  15.8667  -87.9000
25          Hasaki      JP     77.40  35.7333  140.8333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Llanes,ES,76.84,43.4198,-4.7549,Hotel La Paz
5,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Albany,US,85.95,42.6001,-73.9662,
12,Saint George,US,85.24,37.1041,-113.5841,Best Western Plus Abbey Inn
14,Ribeira Grande,PT,79.20,38.5167,-28.7000,Quinta da Meia Eira
17,Akyab,MM,81.64,20.1500,92.9000,Hotel Memory
18,Faanui,PF,78.60,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Demirci,TR,88.43,39.0461,28.6589,Sungur Otel
24,Travesia,HN,79.14,15.8667,-87.9000,Casa de Paz/House of Peace
25,Hasaki,JP,77.40,35.7333,140.8333,Inubosaki Kanko Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))